* {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.618em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: darkslategray;
}

header,
main,
footer {
  margin: 0 auto;
  max-width: 80%;
}

html {
  font-size: 16px;

  margin-top: 3em;
}

header {
  padding: 2em;
}

header h1 {
  font-size: 3em;
}

header span {
  font-size: 1.5em;
  color: darkgray;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  background: gray;
}

nav a {
  padding: 0.5em 2em;
  text-decoration: none;
  color: silver;
}
nav a:hover {
  background: #666;
}

section {
  margin: 1em 0;

  padding-top: 3em;
  min-height: 20em;
}

section > p {
  margin: 1em 0;
}

section ul {
  padding-left: 1.5em;
}

#photo {
  display: grid;
}

#photo article h3 {
  text-align: center;
}

#photo article {
  background: #ccc;
  padding: 2em;
  -webkit-box-shadow: 15px 14px 20px -5px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 15px 14px 20px -5px rgba(0, 0, 0, 0.56);
  box-shadow: 15px 14px 20px -5px rgba(0, 0, 0, 0.56);
}

#photo article img {
  width: 100%;
  align-items: center;
}

#projects {
  text-decoration: none;
}

footer {
  margin-top: 2em;
  margin-bottom: 1em;
  background: #666;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}
